body{
	background-color:#e5ecfe;
	font-family: 'Lato-Regular';
}
*{
	outline:none;
	touch-action: manipulation;
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}
#dopHeader{
	height:60px;
	color:#000;
	width:100%;
	background-color:#fff;
	position:relative;
	display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
#backForm{
	position:absolute;
    margin:0 20px;
    width: 24px;
    height: 24px;
    padding: 6px 0;
}
#backSUpBut img{
    height: 20px;
    width: 20px;
}
#backSUpBut{
	margin: 0px;
    box-shadow: 0 0 0px 4px #e5ecfe;
    border-radius: 50%;
	width: 20px;
    height: 20px;
    padding: 8px;
}
#dopHeaderTitul{
    text-align:center;
    font-weight:600;
	font-size:18px;
	height:26px;
}
.cs{
	flex-direction:column;
    justify-content:space-between;
}
.ac{
	flex-direction:column;
	align-items: center;
}
#bodyBubble{
	margin:20px;
	background-color:#fff;
	border-radius: 12px;	
}
#bodyLogo{
	width:200px;
    margin:auto;
    padding:40px 0 10px;
}
#bodyLogo img, #rusFlag img, #logFooterMark img, #backForm img{
	width:100%;
	height:100%;
}
#rusTagForm{
	justify-content:center;
    line-height:28px;
	padding:0 0 40px;
}
#rusTag{
	color: #175ac5;
    font-size: 16px;
    margin: 0 10px 0 0;
    font-family: 'Lato-Bold';
}
#rusFlag{
	width: 24px;
    height: 24px;
    border: 2px solid #ededed;
    border-radius: 50%;
}
.strokaInput, #logFooterText{
	padding:10px 20px;
	position:relative;
}
.strokaRestore{
	padding:0px 20px 20px;
	color: #175ac5;
	font-family:'Lato-Bold';
}
#login, #password{
	height:48px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #f6f7fc;
    border-radius: 9px;
    text-indent: 15px;
    font-size: 17px;
    font-family: 'Lato-Regular';
}
.-actv{
	box-shadow:0 0 1px 2px #a6aede;
	caret-color:#5b65ff;
	padding-top:18px !important;
    padding-bottom:0 !important;
    line-height:normal;
    box-sizing:border-box;
}
.hidePasData{
	width:30px;
    position:absolute;
    right:36px;
    top:20px;
    height:30px;
	z-index:45;
}
.hidePasData>img{
	width:100%;
	filter:contrast(0.5);
}
#restoreInform{
	width: 100%;
    padding: 5px;
    color: #175ac5;
    border: none;
    font-size: 16px;
    background-color: #ffffff;
    height: 45px;
    margin: 0 0 15px;
    font-family: 'Lato-Bold';
}
#regUpButton{
	width: 160px;
    padding: 5px;
    color: #175ac5;
    font-size: 16px;
    height: 25px;
    margin: auto;
    font-family: 'Lato-Bold';
    text-align: center;
}
#logFooterMark{
	height: 90px;
    width: 90px;
    padding: 10px 0;
}
#resText{
	color:#175ac5;
	padding:0 0 20px;
	width:110px;
}
#logFooterText{
	color: #175ac5;
    padding: 0px 20px 40px;
    width: 60%;
}
.headInput{
	position:absolute;
    text-indent:15px;
    color:#656565;
    font-size:11px;
    margin:5px 0;
	display:none;
}
#tempCode{
	position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
	background-color: #e5ecfe;
	z-index:60;
}
#trustTitul{
	font-weight: 600;
    color: #3d3d3d;
    font-size: 24px;
    margin: 30px 0 10px;
}
#messTrust{
	font-size: 18px;
    letter-spacing: -1px;
}
#telTrust{
	font-weight:600;
}
/*
.tCode:focus{
	
}*/
.-focus{
	box-shadow:0 0 1px 2px #abbce7;
}
.tCode{
	width:50px;
	height:48px;
	margin:0px 4px;
	padding:0px;
	border:0px;
	background-color:#f6f7fc;
	border-radius:9px;
	text-align:center;
	font-size:17px;
}
.tact{
	/*box-shadow:0 0 1px 2px #abbce7;*/
}
#titulCode{
	padding:0px 20px;
    position:relative;
    font-size:14px;
    font-weight:600;
	
}
#tCodeTrust{
	margin:20px auto 0;
    width:180px;
    font-size:14px;
	text-align: center;
}
#tTimer{
	margin:5px auto 0;
    width:45px;
    font-size:16px;
	font-weight:600;
}